{% extends "layout/main_layout.html" %} {% block content %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Mappings</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Mappings Table</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        Mappings defined data rules for all requests.
                    </p>
                    <table id="mappingTbl" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>URL</th>
                                <th>Method</th>
                                <th>Type</th>
                                <th>Data Key</th>
                                <th>Count</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mappingInfoModal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mappingInfoModalLabel">Mapping Info</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left" novalidate="">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inputUrl">URL <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="inputUrl" class="form-control col-md-7 col-xs-12" name="inputUrl" placeholder="Mapping URL e.g /users" required="required" type="text">
                        </div>
                        <div class="alert">URL is required.</div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inputMethod">Method <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="inputMethod" name="inputMethod" class="form-control col-md-7 col-xs-12">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="DELETE">DELETE</option>
                                <option value="PUT">PUT</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inputType">Type <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="inputType" name="inputType" class="form-control col-md-7 col-xs-12">
                                <option value="tmpl">Template</option>
                                <option value="data">Data</option>
                                <option value="swagger">Swagger</option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inputDataKey">Data Key <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="inputDataKey" class="form-control col-md-7 col-xs-12" name="inputDataKey" placeholder="Data definition e.g user" required="required" type="text">
                        </div>
                        <div class="alert">Data Key is required.</div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inputCount">Count <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="inputCount" class="form-control col-md-7 col-xs-12" name="inputCount" placeholder="Count e.g 1 or 10" required="required" type="number">
                        </div>
                        <div class="alert">Data Key is required.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="MAPPING_MGR.saveMapping();">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="requestModal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Mock Request</h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_title">
                        <h4 id="requestTitle"></h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <input id="mockUrl" type="hidden">
                        <input id="mockMethod" type="hidden">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul class="nav nav-tabs bar_tabs" role="tablist">
                                <li id="paramsTab" role="presentation" class="active"><a href="#tab_content1" id="params-tab" role="tab" data-toggle="tab" aria-expanded="false">Params</a>
                                </li>
                                <li id="headersTab" role="presentation"><a href="#tab_content2" role="tab" id="headers-tab" data-toggle="tab" aria-expanded="false">Headers</a>
                                </li>
                                <li id="bodyTab" role="presentation"><a href="#tab_content3" role="tab" id="body-tab" data-toggle="tab" aria-expanded="true">Body</a>
                                </li>
                                <li id="responseTab" role="presentation"><a href="#tab_content4" role="tab" id="response-tab" data-toggle="tab" aria-expanded="true">Response</a>
                                </li>
                                <li id="cookieTab" role="presentation"><a href="#tab_content5" role="tab" id="cookie-tab" data-toggle="tab" aria-expanded="true">Cookies</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="params-tab">
                                    <table id="paramsTbl" class="table table-striped table-bordered">
                                        <thead>
                                            <th></th>
                                            <th>Type</th>
                                            <th>Key</th>
                                            <th>Value</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="headers-tab">
                                    <table id="headerTbl" class="table table-striped table-bordered">
                                        <thead>
                                            <th></th>
                                            <th>Key</th>
                                            <th>Value</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="body-tab">
                                    <div>
                                        <div class="iradio_flat-green checked" style="position: relative;"><input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required="" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        Raw
                                        <div class="iradio_flat-green checked" style="position: relative;"><input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required="" data-parsley-multiple="gender" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        Form-data
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="response-tab">
                                    <pre id="responseContent">

                                    </pre>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="cookie-tab">
                                    <table id="cookieTbl" class="table table-striped table-bordered">
                                        <thead>
                                            <th></th>
                                            <th>Key</th>
                                            <th>Value</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="MAPPING_MGR.mockData();">Send</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Datatables -->
<script src="/static/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Nunjucks -->
<script src="/static/plugins/nunjucks/nunjucks.min.js"></script>
<!-- Base64 -->
<script src="/static/plugins/base64/base64.min.js"></script>
<!-- PNotify -->
<script src="/static/plugins/pnotify/dist/pnotify.js"></script>
<script src="/static/plugins/pnotify/dist/pnotify.buttons.js"></script>
<script src="/static/plugins/pnotify/dist/pnotify.nonblock.js"></script>
<!-- Page Script -->
<script src="/static/js/json.highlight.js"></script>
<script src="/static/js/mappings.mgr.js"></script>
{% endblock %}

{% block style %}
<!-- Datatables -->
<link href="/static/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<!-- PNotify -->
<link href="/static/plugins/pnotify/dist/pnotify.css" rel="stylesheet">
<link href="/static/plugins/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
<link href="/static/plugins/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
<!-- Page Style -->
<link href="/static/css/json.highlight.css" rel="stylesheet">
<link href="/static/css/mappings.mgr.css" rel="stylesheet">
<!-- iCheck -->
<link href="/static/plugins/iCheck/skins/flat/green.css" rel="stylesheet">
{% endblock %}
